.body {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: #eef2f6;
}
.error {
    color: red;
    font-weight: bold;
}
.card {
    justify-self: center;
    width: 40%;
    padding-top : 200px;
} 
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form p {
    text-align: center;
}
.input {
    width: 80%;
    border-radius: 5px;
    outline: none;
}
.btn {
    border: none;
}