.container {
    min-height: calc(100vh - 240px);
}
.btn {
    border: none;
}
.emoji-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: transform 0.1s;
}
.emoji-button:hover {
    transform: scale(1.2);
}
