.body {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
}
.box {
    position: relative;
    display: inline-block;
    width: 30%;
    min-width: 200px;
}
.btn {
    position: absolute;
    bottom: 2px;
}
.display-results {
    /* style shadow */
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.outer-loop-div {
    width: 50%;
    /* display: flex; */
    justify-self:center;
}
.data-heading {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
